<div>
    <h2>Cifrar Texto</h2>
    <textarea [(ngModel)]="textoOriginal" placeholder="Escribe un texto"></textarea>
    <button (click)="cifrarTexto()">Cifrar</button>
  
    <div *ngIf="textoCifrado">
      <h3>Texto Cifrado:</h3>
      <p>{{ textoCifrado }}</p>
    </div>
  </div>
  
  <div *ngIf="textoId">
    <h2>Descifrar Texto</h2>
    <button (click)="descifrarTexto()">Descifrar</button>
  
    <div *ngIf="textoDescifrado">
      <h3>Texto Descifrado:</h3>
      <p>{{ textoDescifrado }}</p>
    </div>
  </div>
  
